:root {
    --blue: #29adff;
    --blue-green: #125359;
    --brown: #ab5236;
    --dark-blue: #1d2b53;
    --dark-green: #008751;
    --dark-grey: #5f574f;
    --dark-orange: #ff6c24;
    --dark-purple: #7e2553;
    --dark-red: #be1226;
    --green: #00e436;
    --lavender: #83769c;
    --light-brown: #d48e6f;
    --light-green: #a8f12e;
    --light-grey: #c2c3c7;
    --light-yellow: #fff57d;
    --medium-green: #00b251;
    --orange: #ffa300;
    --pink: #ff77a8;
    --purple: #672d8a;
    --red: #ff004d;
    --violet: #b937b8;
    --white: #fff1e8;
    --yellow: #ffec27;
}

html {
    overscroll-behavior: none;
}

body {
    background-color: var(--dark-blue);
    color: var(--light-grey);
    text-align: center;
}

div.screen {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

pre.canvas {
    margin: 2rem 0 0 0;
    font-family: ui-monospace, monospace;
    font-size: 72px;
    cursor: default;
}

pre.canvas.game-over {
    color: var(--dark-red);
}

pre.canvas.game-over.won {
    color: var(--green);
}

.avatar {
    color: var(--pink);
    font-weight: 1000;
    outline: solid thin var(--pink);
    padding: 0 1rem;
    margin: 0 -1rem;
}

.floor {
    color: var(--blue-green);
}

.wall {
    color: var(--dark-grey);
}
